[submodule "vendor/vim-pathogen"]
	path = vendor/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vendor/vim-colors-solarized"]
	path = vendor/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
