# Example secrets file.
# This file should contain valid ZSH commands (e.g., aliases or exports).
# Encrypt this using: secrets-push
# The bootstrap script will decrypt it to ~/.localrc.secrets
alias gemini="echo 'Gemini is active'"
